@mixin commonCard {
    background: var(--cardBackground);
    box-shadow: var(--cardBoxShadow);
    border-radius: 30px;
}


.gridContainer {
    padding: 0 2rem;

    .redirection {
        width: 3rem;
        height: 2rem;
        padding: 0.2rem;
        border-radius: 1rem;
    }

    .descriptionDiv {
        @include commonCard;
        padding: 2rem;

        .descImage {
            max-width: 15%;
        }

        .descText {
            margin: 10px 0;
        }
    }

    .toolsDiv {
        @include commonCard;
        padding: 1rem;

        .toolsImg {
            max-width: 20%;
        }

        .toolsTitle {
            font-family: "Fuzzy Bubbles", sans-serif;
            margin: 5px 0;
        }

        .toolsDesc {
            margin: 10px 0;
            font-size: 0.85rem;
            height: 38%;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    }
}

@media (max-width: 768px) {
    .gridContainer {
        padding: 1rem;

        .descriptionDiv {
            padding: 1rem;

            .descImage {
                max-width: 10%;
            }

            .descText {
                font-size: 0.65rem;
            }
        }

        .toolsDiv {
            padding: 0.7rem;

            .toolsDesc {
                height: 60%;
                font-size: 0.8rem;
            }

            .toolsTitle {
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width: 1199px) {
    .gridContainer {
        padding: 0.8rem;

        .toolsDiv {
            .toolsDesc {
                height: 45%;
            }
        }
    }
}

[data-theme="light"] {
    --cardBackground: rgb(255 255 255 / 33%);
    --cardBoxShadow: rgb(217 217 217) 0px 0px 0px 1px inset;
}

[data-theme="dark"] {
    --cardBackground: rgb(34, 34, 34);
    --cardBoxShadow: rgb(93 93 93 / 79%) 0px 0px 0px 1px inset;
}