@use "../../styles/mixins" as *;

@mixin commonCard {
    background: var(--cardBackground);
    box-shadow: var(--cardBoxShadow);
    border-radius: 30px;
}

.gridContainer {
    padding: 0 2rem;
    .commonCardDiv {
        @include commonCard;
    }

    .redirection {
        width: 3rem;
        height: 2rem;
        padding: 0.2rem;
        border-radius: 1rem;
    }

    .profileDiv {
        padding: 1rem;

        .profileContainer {
            display: flex;
            align-items: center;
            gap: 2rem;

            .profileImg {
                width: 4rem;
            }
        }

        .multi, .health, .webXR{
            font-family: "Fuzzy Bubbles", sans-serif;
        }

        .multi {
            background: #4bcc72;
            background: radial-gradient(circle, rgba(75, 204, 114, 1) 0%, rgba(169, 87, 199, 1) 51%, rgba(237, 221, 83, 1) 100%);
            background-clip: text;
            color: transparent;
        }

        .health {
            background: #4b58cc;
            background: radial-gradient(circle, rgba(75, 88, 204, 1) 0%, rgba(169, 87, 199, 1) 51%, rgba(237, 221, 83, 1) 100%);
            background-clip: text;
            color: transparent;
        }

        .webXR {
            background: #cc4b67;
            background: radial-gradient(circle, rgba(204, 75, 103, 1) 0%, rgba(169, 87, 199, 1) 51%, rgba(237, 221, 83, 1) 100%);
            background-clip: text;
            color: transparent;
        }

        .profileDesc {
            margin: 10px 0;
        }

    }

    .experienceDiv {
        padding: 1rem;

        .experienceHeader, .educationHeader {
            font-family: "Fuzzy Bubbles", sans-serif;
        }

        .experienceContainer, .educationContainer {
            margin: 2rem 0;
            box-shadow: var(--cardBoxShadow);
            border-radius: 20px;
            padding: 1rem;

            .expTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .roleContainer {
            margin: 1rem 0;

            .roleDesc {
                margin: 1rem 0;
            }
        }
    }

    .projectsDiv {
        padding: 1rem;

        .projectsHeader {
            font-family: "Fuzzy Bubbles", sans-serif;
        }

        .projectsContainer {
            .projectDiv {
                @include commonCard;
                height: 35vh;
                margin: 2rem 0;
                padding: 1rem;

                .projectDescription {
                    margin: 10px 0;
                    height: 50%;
                    overflow-y: auto;
                }

                .projectLinks{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .projectGithub{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .gridContainer {

        .profileDiv {
            padding: 1rem;

            .profileDesc {
                margin: 10px 0;
                font-size: 0.7rem;
            }
        }

        .experienceDiv {
            .roleContainer {
                .roleDesc {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 1199px){
    .gridContainer {
        padding: 0 0.75rem;
        .profileDiv {
            padding: 1rem;

            .profileDesc {
                margin: 10px 0;
            }
        }
    }
}

[data-theme="light"] {
    --cardBackground: rgb(255 255 255 / 33%);
    --cardBoxShadow: rgb(217 217 217) 0px 0px 0px 1px inset;
}

[data-theme="dark"] {
    --cardBackground: rgb(34, 34, 34);
    --cardBoxShadow: rgb(93 93 93 / 79%) 0px 0px 0px 1px inset;
}