@use "../../styles/mixins" as *;

@mixin commonBg {
    background: var(--cardBackground);
    box-shadow: var(--cardBoxShadow);
}



.gridLayout {
    padding: 0 0.85rem;

    .redirection {
        width: 3rem;
        height: 2rem;
        padding: 0.2rem;
        border-radius: 1rem;
    }

    .readMore {
        font-size: 0.8rem;
        width: 3rem;
        height: 2rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 1rem;
        transition: width 0.5s ease-in-out;

        .readMoreTxt {
            opacity: 0;
            white-space: nowrap;
            transition: opacity 0.5s ease
        }
    }

    .readMore:hover {
        width: 7.7rem;

        .readMoreTxt {
            opacity: 1;
        }
    }

    .cardDivCommon {
        @include commonBg;
        border-radius: 30px;
        padding: 2rem;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .introDiv {
        .memoji {
            max-width: 15%;
        }

        .intro {
            margin: 10px 0;

            span {
                font-weight: bolder;
                font-style: italic;
                font-size: 1.5rem;
                font-family: "Fuzzy Bubbles", sans-serif;
            }
        }
    }

    .blogDiv {
        .blogGlimpse {
            margin: 15px 0;
        }

        .blogTitle {
            font-size: 1.5rem;
            font-family: "Fuzzy Bubbles", sans-serif;
        }
    }

    .socialMediaDiv {
        @include centerAlignVH;
        height: 80%;
    }

    .contactDiv {
        h2 {
            font-family: "Fuzzy Bubbles", sans-serif;
        }

        div {
            margin: 15px 0;
        }

        .mail {
            color: #17bfdee6;
        }
    }

    .mapDiv {
        iframe {
            border-radius: 30px;
        }
    }

    .ytDiv {
        @include commonBg;
        border-radius: 30px;
        padding: 1rem;
        cursor: pointer;

        .ytSong,
        .ytAuthor {
            font-size: 0.7rem;
            margin: 2px 0;
            display: flex;
            justify-content: center;
        }

        .ytAuthor {
            color: green;
        }


        .ytStatus {
            font-size: 0.7rem;
            color: rgba(255, 0, 0, 0.729);

            .play-1 {
                animation-delay: 0s;
            }

            .play-2 {
                animation-delay: 0.4s;
            }

            .play-3 {
                animation-delay: 0.6s;
            }

            .offlineText {
                font-size: 0.9rem !important;
                animation: none !important;
            }

            @keyframes pulse {

                0%,
                100% {
                    transform: scale(1);
                    opacity: 0.5;
                }

                50% {
                    transform: scale(1.4);
                    opacity: 1;
                }
            }
        }

        .ytStatus span {
            font-size: 0.7rem;
            display: inline-block;
            animation: pulse 0.8s infinite ease-in-out;
        }
    }


    .toolsContainer {
        overflow: hidden;

        .toolsGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 20px;
            rotate: 45deg;

            .toolsDiv {
                box-shadow: var(--cardBoxShadow);
                border-radius: 15px;
                height: 120px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                img {
                    max-width: 100%;
                }
            }
        }
    }

}

@media (max-width: 768px) {

    .gridLayout {

        .cardDivCommon {
            padding: 1rem;
        }

        .blogDiv {
            .blogGlimpse {
                font-size: 0.85rem;
            }

            .blogTitle {
                font-size: 0.95rem;
            }
        }

        .ytDiv{
            padding: 0.7rem;
        }
    }
}

@media (max-width: 1199px) {
    .gridLayout {
        .cardDivCommon {
            padding: 1rem;
        }

        .blogDiv {
            .blogGlimpse {
                font-size: 0.75rem;
            }

            .blogTitle {
                font-size: 1.3rem;
            }
        }
    }
}

[data-theme="light"] {
    --cardBackground: rgb(255 255 255 / 33%);
    --cardBoxShadow: rgb(217 217 217) 0px 0px 0px 1px inset;
}

[data-theme="dark"] {
    --cardBackground: rgb(34, 34, 34);
    --cardBoxShadow: rgb(93 93 93 / 79%) 0px 0px 0px 1px inset;
}